* {
    cursor: url("/cursor/roblox.cur"), auto;
}

body { 
    background-image:url('/imgs/gifs/matrixGif.gif'); background-repeat:repeat; 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.sideGif {
    margin-left: auto;
    width: auto;
    height: 35px;
}

.horizontal-container {
    display: flex;
}

.socialBTN {
    margin-top: 2px;
    min-width: 120px;
    margin-bottom: 1px;
}

.aboutMeDetails {
    font-size: 13px;
    color: #000000;
    height: 344px;
}

.projectImage {
    border: #000000 solid;
    width: 200px;
    height: 200px;
}

.projectExpand {
    margin-left: 21px;
}

.link {
    color: rgb(0, 0, 158);
    text-decoration: underline;
}

.imageSizeWindow {
    width: 200px; height: 200px;
}

.project-container {
    background-color: #c0c0c0;
    border-top: 2px #adadad solid;
    border-left: 2px #adadad solid;
    border-right: 2px #09090a solid;
    border-bottom: 2px #09090a solid;
    padding: 1ch;
    display: flex;
    margin-bottom: 10px;
    margin-right: 1.5ch;
    min-height: fit-content;
    max-height: 500px;
}

.details {
    color: #000000;
    font-weight: bold;
    margin-left: 2ch;
    font-size: 12px;
    width: 1400px;
}

.details-title {
    color: #000000;
    font-size: 30px;
}

.details-subtitle {
    color: #000000;
    font-size: 15px;
}

.details-subtitle-x2 {
    color: #000000;
    font-size: 22px;
}

#profile {
    margin-bottom: 32px; margin-top:20px; min-width: 730px; max-width: max-content; height: 600px;
}

.taskbar {
    display: flex;
    margin-top: auto;
    align-content: center;
    padding: 0.3ch;
    width: 100%;
    height: 29px;
    background-color: #c0c7c8;
    border-top: 2px #f1f3f3 solid;
    border-left: 2px #f1f3f3 solid;
    border-right: 2px #09090a solid;
    border-bottom: 2px #09090a solid;
}

.verticalLine_Taskbar {
    align-self: center;
    margin-left: 2px;
    height: 23px;
    border-top: 2px #f1f3f3 solid;
    border-left: 2px #f1f3f3 solid;
    border-right: 2px #8a8b92 solid;
    border-bottom: 2px #8a8b92 solid;
}

.afterVerticalLine_Taskbar {
    margin-left: 3px;
    margin-right: 3px;
    width: 2px;
    align-self: center;
    height: 19px;
    border-top: 2px #f1f3f3 solid;
    border-left: 2px #f1f3f3 solid;
    border-right: 2px #8a8b92 solid;
    border-bottom: 2px #8a8b92 solid;
}

.appIcon {
    width: 40px;
    height: 26px;
    align-self: center;
}

#loading-window {
    position: absolute;
    left: 45%;
    align-self: center;
}

#loading-window-inner {
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

#loading-window-body {
    display: flex;
}

#pfpImage {
    border: 5px solid #000000;
    margin-right: 3ch;
    border-radius: 1px;
    padding: 5px;
    height: 135px;
    width: auto;
}

#cursor {
    position: absolute;
    width: 30px;
    height: 30px;
    background: url('../cursor/arrow.cur') no-repeat center center;
    background-size: contain;
    pointer-events: none;
    transition: top 1s ease, left 1s ease;
    left: -9999px;
    top: -9999px;
}

#projects {
    display: flex; margin-left: auto; margin-right: auto;
}

#socials-mobile {
    display: none;
}

#experiences {
    margin-bottom: 32px; margin-left: 10px; margin-top:20px; min-width: fit-content; max-height: 600px;
}

@media screen and (max-width: 460px) {
    #profile {
        margin-top: 5px; min-width: 300px; max-width: 500px; height: 650px;
    }

    .aboutMeDetails {
        font-size: 15px;
    }

    #socials-mobile {
        display: block;
        margin-left: 5px;
    }

    #socials {
        display: none;
    }

    #experiences {
        margin-bottom: 32px; margin-top:20px; min-width: fit-content; max-height: 600px;
    }

    .imageDiv {
        max-width: 500px;
    }

    .details-subtitle-x2 {
        font-size: 50px;
    }

    .projectExpand {
        min-width: 400px;
        min-height: 35px;
        font-size: 20px;
    }

    .scroll-container {
        min-height: auto;
    }

    .projectImage {
        min-width: 430px;
        min-height: 430px;
    }



    #AAP-projectInfo {
        max-width: 540px;
    }

    #CS-projectInfo {
        max-width: 540px;
    }

    #US-projectInfo {
        max-width: 540px;
    }


    #aboutMeDesc {
        font-size: 13px;
        max-width: 300px;
    }

    body {
        min-width: 550px;
    }

    #projects {
        display: inline; margin-left: auto; margin-right: auto;
    }
}

/* #startBtn {
    align-content: center;
    align-self: center;
    color: #000000;
    background-color: #c0c7c8;
    border-top: 1px #f1f3f3 solid;
    border-left: 1px #f1f3f3 solid;
    border-right: 1px #09090a solid;
    border-bottom: 1px #09090a solid;
    max-width: 3px;
    padding: 0px;
    height: 26px;
    font-size: 10px;
    display: flex;
} */

#aboutMeDesc {
    min-height: 128px;
    height: fit-content;
    width: 400px;
}



#CS-projectInfo {
    display: none;
}

#AAP-projectInfo {
    display: none;
}

#TOOG-projectInfo {
    display: none;
}

#socials {
    margin-left: auto;
    width: auto;
}

#titleImage {
    width: 154px;
    height: auto;
}