* {
    cursor: url("/cursor/Rythy.cur"), auto;
}

body {
    background-color: #000000;
    /* opacity: 0.8; */
    background-image:  linear-gradient(135deg, #b1a3ff 25%, transparent 25%), linear-gradient(225deg, #b1a3ff 25%, transparent 25%), linear-gradient(45deg, #b1a3ff 25%, transparent 25%), linear-gradient(315deg, #b1a3ff 25%, #000000 25%);
    background-position:  33px 0, 33px 0, 0 0, 0 0;
    background-size: 33px 33px;
    background-repeat: repeat;
}

.outerbox {
    background-color: #191919;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    padding: 1ch;
}

#cursor {
    position: absolute;
    width: 30px;
    height: 30px;
    background: url('../cursor/arrow.cur') no-repeat center center;
    background-size: contain;
    pointer-events: none;
    transition: top 1s ease, left 1s ease; /* Ensure transition is applied */
}

.title {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding:0px;
    display: flex;
}

.aboutme {
    display: flex;
}

.window {
    color: black;
    height: fit-content;
}

#aboutMeDesc {
    min-height: 107px;
    height: fit-content;
}

.sideTitleGifs {
    width: 60px;
    position: absolute;
}

.subtitle {
    font-family: "Jersey 10", sans-serif;
    font-size: 25px;
    font-weight: 400;
    font-style: normal;
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
}

#socialButtons {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    padding-left: 1px;
}

#pfpSpan {
    color:#191919;
}

.OPTICAL {
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
}

#pfpImage {
  border: 5px solid #dbc3fd;
  margin-left: 3ch;
  border-radius: 4px;
  padding: 5px;
  width: 136px;
}